{% extends 'base.html' %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="card p-4">
                    <ul class="nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" id="sun-tab" data-toggle="tab" href="#sun" role="tab"
                               aria-controls="sun" aria-selected="true">Sun</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mon-tab" data-toggle="tab" href="#mon" role="tab"
                               aria-controls="mon" aria-selected="false">Mon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tues-tab" data-toggle="tab" href="#tues" role="tab"
                               aria-controls="tues" aria-selected="false">Tues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="wed-tab" data-toggle="tab" href="#wed" role="tab"
                               aria-controls="wed" aria-selected="false">Wed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="thur-tab" data-toggle="tab" href="#thur" role="tab"
                               aria-controls="thur" aria-selected="false">Thur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="fri-tab" data-toggle="tab" href="#fri" role="tab"
                               aria-controls="fri" aria-selected="false">Fri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="sat-tab" data-toggle="tab" href="#sat" role="tab"
                               aria-controls="sat" aria-selected="false">Sat</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="sun" role="tabpanel" aria-labelledby="sun-tab">
                            <table class="table table-bordered">
                                <col width="25">
                                <col width="200">
                                {% for time in schedule["sun"] %}
                                    <tr>
                                        <td>
                                            {% if time >= 12 %} {{ time - 12 }}pm{% elif time < 12 %}{{ time }}
                                                am{% endif %}
                                                </td>
                                                
                                                <td>
                                                    {% for value in schedule["sun"][time] %}
                                                    <div class="list-group">
                                                        <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse-next">
                                                            <i class="fa fa-pills"></i>
                                                            {{ value.name }}
                                                        </a>
                                                        <div class="collapse list-group-submenu">
                                                            <div class="list-group-item sub-item">
                                                                <h4>Did you remember to take this medication?</h4>
                                                                <button type="button" class="btn btn-success">Yes</button>
                                                                <button type="button" class="btn btn-danger">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane fade" id="mon" role="tabpanel" aria-labelledby="mon-tab">
                            <table class="table table-bordered">
                                <col width="25">
                                <col width="200">
                                {% for time in schedule["mon"] %}
                                    <tr>
                                        <td>
                                            {% if time >= 12 %} {{ time - 12 }}pm{% elif time < 12 %}{{ time }}
                                                am{% endif %}
                                        </td>
                                        
                                        <td>
                                            {% for value in schedule["mon"][time] %}
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse-next">
                                                        <i class="fa fa-pills"></i>
                                                        {{ value.name }}
                                                    </a>
                                                    <div class="collapse list-group-submenu">
                                                        <div class="list-group-item sub-item">
                                                            <h4>Did you remember to take this medication?</h4>
                                                            <button type="button" class="btn btn-success">Yes</button>
                                                            <button type="button" class="btn btn-danger">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tues" role="tabpanel" aria-labelledby="tues-tab">
                            <table class="table table-bordered">
                                <col width="25">
                                <col width="200">
                                {% for time in schedule["tues"] %}
                                    <tr>
                                        <td>
                                            {% if time >= 12 %} {{ time - 12 }}pm{% elif time < 12 %}{{ time }}
                                            am{% endif %}
                                        </td>
                                            
                                        <td>
                                            {% for value in schedule["tues"][time] %}
                                            <div class="list-group">
                                                <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse-next">
                                                    <i class="fa fa-pills"></i>
                                                    {{ value.name }}
                                                </a>
                                                <div class="collapse list-group-submenu">
                                                    <div class="list-group-item sub-item">
                                                        <h4>Did you remember to take this medication?</h4>
                                                        <button type="button" class="btn btn-success">Yes</button>
                                                        <button type="button" class="btn btn-danger">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane fade" id="wed" role="tabpanel" aria-labelledby="wed-tab">
                            <table class="table table-bordered">
                                <col width="25">
                                <col width="200">
                                {% for time in schedule["wed"] %}
                                    <tr>
                                        <td>
                                            {% if time >= 12 %} {{ time - 12 }}pm{% elif time < 12 %}{{ time }}
                                            am{% endif %}
                                            </td>
                                            
                                            <td>
                                                {% for value in schedule["wed"][time] %}
                                                    <div class="list-group">
                                                        <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse-next">
                                                            <i class="fa fa-pills"></i>
                                                            {{ value.name }}
                                                        </a>
                                                        <div class="collapse list-group-submenu">
                                                            <div class="list-group-item sub-item">
                                                                <h4>Did you remember to take this medication?</h4>
                                                                <button type="button" class="btn btn-success">Yes</button>
                                                                <button type="button" class="btn btn-danger">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane fade" id="thur" role="tabpanel" aria-labelledby="thur-tab">
                            <table class="table table-bordered">
                                <col width="25">
                                <col width="200">
                                {% for time in schedule["thur"] %}
                                    <tr>
                                        <td>
                                            {% if time >= 12 %} {{ time - 12 }}pm{% elif time < 12 %}{{ time }}
                                            am{% endif %}
                                        </td>
                                            
                                        <td>
                                            {% for value in schedule["thur"][time] %}
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse-next">
                                                        <i class="fa fa-pills"></i>
                                                        {{ value.name }}
                                                    </a>
                                                    <div class="collapse list-group-submenu">
                                                        <div class="list-group-item sub-item">
                                                            <h4>Did you remember to take this medication?</h4>
                                                            <button type="button" class="btn btn-success">Yes</button>
                                                            <button type="button" class="btn btn-danger">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane fade" id="fri" role="tabpanel" aria-labelledby="fri-tab">
                            <table class="table table-bordered">
                                <col width="25">
                                <col width="200">
                                {% for time in schedule["fri"] %}
                                    <tr>
                                        <td>
                                            {% if time >= 12 %} {{ time - 12 }}pm{% elif time < 12 %}{{ time }}
                                            am{% endif %}
                                        </td>
                                            
                                        <td>
                                            {% for value in schedule["fri"][time] %}
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse-next">
                                                        <i class="fa fa-pills"></i>
                                                        {{ value.name }}
                                                    </a>
                                                    <div class="collapse list-group-submenu">
                                                        <div class="list-group-item sub-item">
                                                            <h4>Did you remember to take this medication?</h4>
                                                            <button type="button" class="btn btn-success">Yes</button>
                                                            <button type="button" class="btn btn-danger">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane fade" id="sat" role="tabpanel" aria-labelledby="sat-tab">
                            <table class="table table-bordered">
                                <col width="25">
                                <col width="200">
                                {% for time in schedule["sat"] %}
                                    <tr>
                                        <td>
                                            {% if time >= 12 %} {{ time - 12 }}pm{% elif time < 12 %}{{ time }}
                                            am{% endif %}
                                        </td>
                                            
                                        <td>
                                            {% for value in schedule["sat"][time] %}
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse-next">
                                                        <i class="fa fa-pills"></i>
                                                        {{ value.name }}
                                                    </a>
                                                    <div class="collapse list-group-submenu">
                                                        <div class="list-group-item sub-item">
                                                            <h4>Did you remember to take this medication?</h4>
                                                            <button type="button" class="btn btn-success">Yes</button>
                                                            <button type="button" class="btn btn-danger">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>

{% endblock %}
