{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for medication in medications %}
                        <a class="list-group-item list-group-item-action" id="list-{{ medication.name | lower }}-list"
                           data-toggle="list" href="#list-{{ medication.name | lower }}" role="tab"
                           aria-controls="home">{{ medication.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-9">
                <div class="tab-content" id="nav-tabContent">
                    {% for medication in medications %}
                        <div class="tab-pane fade show" id="list-{{ medication.name | lower }}" role="tabpanel"
                             aria-labelledby="list-{{ medication.name | lower }}-list">
                            <div class="card">
                                <div class="card-header">
                                    {{ medication.name }}
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>
                                                Doctor Smith <i class="fa fa-info-circle"></i>
                                            </td>
                                            <td>
                                                Pills Remaining: {{ medication.pills }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                                Next Refill Needed: {{ medication.refill_date }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
