{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <h3> User Information </h3>
        <div class="row">
            <div class="col-lg-8">
                <div class="card p-4">
                    <input class="form-control m-1" type="text" title="Name" placeholder="Name" value="{{ curUser.name }}">
                        <br>
                        <label>
                            Date of Birth
                            <input class="form-control m-1" type="date" title="Birthdate" placeholder="Birthdate">
                        </label>
                    <label>
                        Blood Type
                        <select class="form-control m-1">
                            <option>O+</option>
                            <option>O-</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
