<div class="modal fade" id="newDoctor" tabindex="-1" role="dialog" aria-labelledby="newDoctorLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="newDoctorForm" action="/newDoc" method="post">
                <div class="modal-body">
                    <input class="form-control m-1" type="text" title="Doctor Name" placeholder="Doctor Name"
                    name="doc-name">
                    <input class="form-control m-1" type="tel" placeholder="(800)-555-2368" title="Phone Number" name="doc-phone">
                </div>
                <div class="modal-footer">
                    <input type="submit" form="newDoctorForm" class="btn btn-primary" value="Add New Doctor">
                </div>
            </form>
        </div>
    </div>
</div>
